.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #e8d5e9 !important;
}

.fondo {
    background: url(../fondo.png);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 625px;
}
